{% extends 'profiles/bases/main_base.html' %}
{% load static %}

{% block page-container %}
    <div class="container-fluid">
        <!-- -------------------------------------------------------------- -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- -------------------------------------------------------------- -->
        <div class="row page-titles">
            <div class="col-md-5 col-12 align-self-center">
                <h3 class="text-themecolor mb-0">Dashboard 2</h3>
            </div>
            <div class="col-md-7 col-12 align-self-center d-none d-md-flex justify-content-end">
                <ol class="breadcrumb mb-0 p-0 bg-transparent">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li class="breadcrumb-item active d-flex align-items-center">
                        Innovation Profiles
                    </li>
                </ol>
            </div>
        </div>

        <!-- Start row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <span class="lstick d-inline-block align-middle"></span>
                            My Innovations Profiles
                        </h4>
                    </div>

                    <div class="comment-widgets scrollable mb-2 common-widget" style="height: 450px">
                        <!-- Comment Row -->
                        {% for innovation in innovations %}
                            <div class="d-flex flex-row comment-row border-bottom p-3">
                                <div class="p-2">
                                  <span class="">
                                      <img src="{% static 'profiles/images/cgiar_logo.png' %}" class="rounded-circle" alt="user" width="50"/>
                                  </span>
                                </div>
                                <div class="comment-text w-100 p-3">
                                    <h5 class="font-weight-medium">{{ innovation.title }}</h5>
                                    <p class="mb-1 fs-3 text-muted">
                                        {{ innovation.description | truncatechars:"100" }}
                                    </p>
                                    <div class="comment-footer d-md-flex align-items-center mt-2">
                                        <span class="badge bg-light-info text-info rounded-pill font-weight-medium fs-1 py-1">Draft</span>
                                                        <span class="action-icons">
                                          <a href="{% url 'profiles:inno-create-basic-edit' innovation.id %}" class="ps-3">Edit</a>
                                          <a href="{% url 'profiles:inno-create-basic-edit' innovation.id %}" class="ps-3">View</a>
                                        </span>
                                        <span class="text-muted ms-auto fw-normal fs-2">{{ innovation.created_on}}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End row -->
    </div>
{% endblock %}
