{% extends 'profiles/innovation_submission_form_base.html' %}
{% load widget_tweaks %}


{% block documentation_section %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex">
                        <div>
                            <h4 class="card-title" style="font-size: 16px">
                                <span class="lstick d-inline-block align-middle"></span>Innovation Images
                            </h4>
                        </div>
                        <div class="ms-auto mt-3 mt-md-0">
                            <button class="btn btn-sm btn-rounded btn-dark" id="innovation-image-modal-btn">
                                Add Image
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive mt-3 no-wrap">
                        <table class="table v-middle mb-0" id="innovation-images-table">
                            <tbody>
                                {% for innovation_image in innovation_images %}
                                    {% include 'profiles/innovation_data_snippets/images_tr.html' %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex">
                        <div>
                            <h6 class="card-title" style="font-size: 16px">
                                <span class="lstick d-inline-block align-middle"></span>Reference Material Links
                            </h6>
                        </div>
                        <div class="ms-auto mt-3 mt-md-0">
                            <button class="btn btn-sm btn-rounded btn-dark" id="innovation-ref-material-modal-btn">
                                Add Link
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive mt-3 no-wrap">
                        <table class="table v-middle mb-0" id="ref-materials-table">
                            <tbody>
                                {% for reference_url in innovation_refs %}
                                    {% include 'profiles/innovation_data_snippets/ref_item_url_tr.html' %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="innovation-image-modal" class="hidden-div" data-izimodal-title="Add Innovation Image">
        <form action="javascript:void(0)" data-action="{{ images_form_action }}" id="innovation-image-form"
              class="p-3" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="id_first_name">Photo/Image</label>
                        {% render_field images_form.image class="form-control" %}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-5">
                        <button type="submit" class="btn btn-light">Upload</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="innovation-ref-material-modal" class="hidden-div" data-izimodal-title="Add Reference Material URL">
        <form action="javascript:void(0)" data-action="{{ ref_form_action }}" id="ref-materials-form"
              class="p-3" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="id_first_name">URL</label>
                        {% render_field references_form.url class="form-control" %}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="mb-5">
                        <button type="submit" class="btn btn-light">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-nav-buttons text-center margin-top-10 padding-0">

                {% if previous_form %}
                    <a href="{{ previous_form }}" class="btn btn-primary btn-rounded">
                        Previous Step <i class="mdi mdi-arrow-right"></i>
                    </a>
                {% endif %}

                {% if next_form %}
                    <a href="{{ next_form }}" class="btn btn-step">
                        Skip to Next Step <i class="mdi mdi-arrow-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}